html {
  --s: 200px; 
  --c: #fff; 
  
  --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#03030300 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
    #6494eda0; 
  background-size: var(--s) var(--s);
}

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh;
  font-size: larger;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.comment-container {
  width: 500px;
  margin-top: 20px; 
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form+p, form p {
  text-align: center;
}

input, button{
  border-radius: 4px;
  border: unset;
  padding: 15px 30px;
  font-size: larger;
}

button{
  background-color: #6495ed;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px; 
}

.error{
  color: rgb(255, 81, 81);
}

.escondido{
  display: none;
}

.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #6495ed; 
  border-radius: 10px; 
  padding: 20px; 
  margin-top: 20px; 
}

.message {
 
  margin-bottom: 20px;
  padding: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f9f9f9;
}

.delete-button {
  
  background-color: #cc0000; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 10px; 
}
